<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (productsInCart.length > 0) { %>
                <h3> Cart Value:: $<%= totalPrice %> </h3>
                <hr>
                <ul>
                    <% productsInCart.forEach( cartField => { %>
                        <li>
                            <%= cartField.productData.title %> (<%= cartField.quantity %>) ($<%= cartField.productData.price %>) 
                            <form action="/delete-cart-item" method="POST">
                                <button class="btn" type="submit">Delete</button>
                                <input type="hidden" value="<%= cartField.productData.id %>" name="productId">
                                <input type="hidden" value="<%= cartField.productData.price %>" name="price">
                            </form>
                        </li>
                    <% }) %>  
                </ul>

            <% } else { %>
                <h2> No Products are available in Cart</h2>
            <% } %>   
        </main>
        <%- include('../includes/end.ejs') %>