<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (productsInCart.length > 0) { %>
                <ul class="cart__item-list">
                    <h3> Cart Value:: $<%= totalPrice %> </h3>
                    <% productsInCart.forEach( cartData => { %>
                        <li class="cart__item">
                            <h1><%= cartData.title %> (<%= cartData.cartItem.quantity %>)</h1>

                            <form action="/delete-cart-item" method="POST">
                                <button class="btn danger" type="submit">Delete</button>
                                <input type="hidden" value="<%= cartData.id %>" name="productId">
                                <input type="hidden" value="<%= cartData.price %>" name="price">
                            </form>
                        </li>
                    <% }) %>  
                </ul>

            <% } else { %>
                <h2> No Products are available in Cart</h2>
            <% } %>   
        </main>
        <%- include('../includes/end.ejs') %>